body {
	font-family: Garamond;

}

.title {
	font-weight: 500;
	font-size: 70px;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid black;
}

.container {
	border: 1px solid black;
	margin: auto;
	width: 40%;
	margin-top: 10%;

}

.subcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.links {
	text-align: center;
	padding: 30px;
	font-weight: bold;
	font-size: 17px;
	line-height: 1.5;
}

a {
	outline: 0;
	text-decoration: none;
	color: black;
}

.quote {
	text-align: center;
	width: 50%;
	margin: auto;
	margin-top: 5%;
	font-size: 19px !important;
	line-height: 1.5;
	font-weight: 500;
	border: 0px solid red;
}

.author {
	text-align: center;
	font-size: 16px !important;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 10px;
}
